<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="csp-nonce" nonce="{{ .Nonce }}" />
    <title>{{ .AppState.Head.Title }}</title>
    <meta
      name="description"
      content="{{ .AppState.Head.MetaDescription }}"
    />
    <meta
      name="keywords"
      content="{{ .AppState.Head.MetaKeywords }}"
    />
    {{ range .Assets.CSSPaths }}
    <link rel="stylesheet" href="{{ . }}" />
    {{ end }}
  </head>
  <body>
    <div id="app"></div>

    {{ if .AppState }}
    <script id="app-state" type="application/json" nonce="{{ .Nonce }}">
      {{ .AppState.Bootstrap | toJSON }}
    </script>
    {{ end }} {{ if .Assets.ViteClientURL }}
    <script type="module" src="{{ .Assets.ViteClientURL }}" nonce="{{ .Nonce }}"></script>
    {{ end }} {{ if .Assets.JSPath }}
    <script type="module" src="{{ .Assets.JSPath }}" nonce="{{ .Nonce }}"></script>
    {{ end }}
  </body>
</html>
