<!doctype html>
<html>
  <head>
    <meta property="csp-nonce" nonce="{{ .Nonce }}" />
    <title>{{ .AppState.Head.Title }}</title>
    <meta
      name="description"
      content="{{ .AppState.Head.MetaDescription }}"
    />
    <meta
      name="keywords"
      content="{{ .AppState.Head.MetaKeywords }}"
    />
    {{ if .Assets.CSSPath }}
    <link rel="stylesheet" href="{{ .Assets.CSSPath }}" />
    {{ end }}
  </head>
  <body>
    <div id="app"></div>

    {{ if .AppState }}
    <script id="app-state" type="application/json" nonce="{{ .Nonce }}">
      {{ .AppState.Bootstrap | toJSON }}
    </script>
    {{ end }} {{ if .Assets.ViteClientURL }}
    <script type="module" src="{{ .Assets.ViteClientURL }}" nonce="{{ .Nonce }}"></script>
    {{ end }}

    <script type="module" src="{{ .Assets.JSPath }}" nonce="{{ .Nonce }}"></script>
  </body>
</html>
