<!doctype html>
<html>
  <head>
    <meta property="csp-nonce" nonce="{{ .Nonce }}" />
    {{ if .Assets.CSSPath }}
    <link rel="stylesheet" href="{{ .Assets.CSSPath }}" />
    {{ end }}
  </head>
  <body>
    <div id="app"></div>

    {{ if .AppState }}
    <script nonce="{{ .Nonce }}">
      window.APP_STATE = JSON.parse({{ .AppState | toJSON }});
    </script>
    {{ end }} {{ if .Assets.ViteClientURL }}
    <script type="module" src="{{ .Assets.ViteClientURL }}" nonce="{{ .Nonce }}"></script>
    {{ end }}

    <script type="module" src="{{ .Assets.JSPath }}" nonce="{{ .Nonce }}"></script>
  </body>
</html>
